* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 1500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*banner*/
.banner {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.banner h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    font-size: 2em;
    z-index: 1;
}

.banner img {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(60%);
}
.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.banner header .toggle {
    position: relative;
    width: 26px;
    height: 20px;
    background: url(/images/menutoggle.png);
    background-size: cover;
    cursor: pointer;
}
