html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.header {
  align-items: baseline;
}
.starter1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.starter2 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow-down 2s infinite;
}
.box span:nth-child(2) {
  animation-delay: -0.2s;
}
.box span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3568ff;
  overflow: hidden;
}
.intro .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../../assets/img/wave.png");
  background-size: 1000px 100px;
}
.intro .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.intro .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.intro .wave.wave3 {
  animation: animate2 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.intro .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
#rides-attractions {
  background: #0000ff;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.logo {
  width: auto;
  height: auto;
}
