div {
    margin: auto;
    text-align: center;
}

.heading {
    border-top: thin solid black;
    padding: 10px;
    border-bottom: thin dashed grey;
}

h1{
    text-align: center;
    margin: auto;
    font-weight: bold;
    padding-top: 10px;
}

.headingtext {
    padding: 20px;
    background-color: antiquewhite;
    border-bottom: thin dashed grey;
}


.row.carousel {
    padding-top: 30px;
    padding-bottom: 30px;

}

.carousel-inner img {
    display: block;
    max-width: 70%;
    height: 800px;
    margin: auto;
}

.carousel-control-prev {
    background-color: lightgray;
}

.carousel-control-next {
    background-color: lightgray;
}

.img-fluid {
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

p.back {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    font-size: 130%;
    margin: auto;
}


.content {
    font-size: 170%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    display: inline-block;
    text-align: center;
    margin: auto;
    font-size: 150%;
    font-weight: bold;
}

.row.features {
    background-color: antiquewhite;
    padding: 20px;
    border-top: thin dashed grey;
    border-bottom: thin dashed grey;
}

.col-md-6.features {
    text-align: left;
    padding-left: 30px;
}

.row.shop {
    padding-bottom: 20px;
    padding: 20px;
}

.col-md-6.shop {
    text-align: left;
}

.col-md-6.shop-things {
    text-align: right;
    margin: 0;
    padding-right: 30px;
}


.img-fluid.room {
    width: auto;
    height: auto;
    padding-top: 30px;
}

.img-fluid.shop {
    height: 420px;
    width: auto;
    margin: 0;
}
.col-md-6.features cite {
    display: block;
    word-wrap: break-word; /*Breaks overflowing text down and places it below*/
    text-align: center;
}

.col-md-6.shop cite, .col-md-6.shop cite a {
    display: block;
    text-align: left;
}

.row.gardens {
    border-top: thin dashed gray;
    padding: 20px;
    background-color: antiquewhite;
}

.col-md-6.gardens {
    text-align: right;
    padding: 0;
}

.col-md-6.gardens-things {
    text-align: left;
    padding-left: 30px;
}

.col-md-6.gardens cite {
    display: block;
    text-align: center;
}

.img-fluid.gardens {
    width: auto;
    height: 500px;
}

/*Form details*/

form {
    border: solid black 2px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

footer {
    padding: 10px;
    font-weight: bold;
}