$primary-color: #fff;
$text-color: #ffcbcb;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rides-attractions {
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 3px;
      margin: 0 auto;
      padding-top: 100px;
      background: #fff;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) rotate(45deg);
        width: 20px;
        height: 20px;
        z-index: 2;
        background: #eee;
      }
      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 30px;
        background: $primary-color;
        box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
        border-radius: 5px;
        display: flex;
        align-items: center;
        ra-name {
          position: absolute;
          background: #f5af19;
          width: 350px;
          height: 30px;
          top: -15px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          font-size: 12px;
          align-items: center;
        }
        div {
          height: 600px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            text-align: center;
          }
        }
      }
      &:nth-of-type(odd) {
        >div {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        >div {
          left: -439px;
        }
      }
    }
  }
}

.rides-attractions {
  ul {
    li {
      div {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &:nth-of-type(odd) {
        div {
          transform: translate3d(100px, -10px, 0) rotate(10deg);
        }
      }
      &:nth-of-type(even) {
        div {
          transform: translate3d(-100px, -10px, 0) rotate(10deg);
        }
      }
      &.in-view {
        div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .rides-attractions {
    ul {
      li {
        div {
          width: 250px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          >div {
            left: -289px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }
  .rides-attractions {
    ul {
      li {
        margin-left: 20px;
        div {
          width: calc(100vw - 91px);
        }
        &:nth-of-type(even) {
          >div {
            left: 45px;
          }
        }
      }
    }
  }
}

.long-pic {
  width: 280px;
  height: 200px;
}